.feedContainer {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.feedGridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.textBox {
    padding: 20px 5px;
}