
.container {
    max-width: 850px;
    margin: 0 auto;
}
.eventContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.img {
    width: 100%;
    object-fit: cover;
}


.imgContainer {
    width: 50%;
}
.textBox {
    width: 100%;
}