.navLogo {
    font-size: 30px;
    font-weight: 700;

}

.navLogoLink,
.navLogoLink:visited {
    text-decoration: none;
    color: white;
}

.container {

    width: 100%;
    background-color: black;
    color: white;
}

.navLogo {
    margin: 0;
}

.innerContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-direction: row;
    align-items: center;
}

.navList {
    margin: 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburgerIcon {
display: none;

}

.navLinks {
display: none;
}

.navLinksActive {
    display: flex;
}

@media screen and (max-width: 799px) {
    .navList {
        background: salmon;
        display: none;
    }

  
    .hamburgerIcon {
        display: flex;
    }
}

.link {
    color: white;
    padding-left: 1rem;
    text-decoration: none;
}