.App {
  text-align: center;
}

.test {
  display: grid;
      grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 10px), 1fr));
        /* 33.33% for 3 columns */
}



@media (max-width: 992px) {

  /* Adjust the breakpoint as needed */
  .test {
    grid-template-columns: 1fr;
    /* Full width for single card */
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

